@page
@model MyWeb.Pages.Admin.UserControllerModel
@{
}
<div>
    <form method="post" class="form-control">
        @Model.Number
        <input type="submit" class="form-control" size="200" />
    </form>
</div>
