@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model UserInfoView
@{
    var src = string.IsNullOrEmpty(Model.Avatar) ? "~/images/avatar.jpg" : Model.Avatar;

}
<a class="col-auto" asp-page="/UserInfo/NormalUserInfo" asp-route-userName="@Model.Name">
    @if (Model.ShowAvatar)
    {
        <img src="@Model.Avatar" class="avatar" />
    }
    @Model.Name
</a>