@{
    ViewData["Title"] = "Home Page";
}

@inject SignInManager<MyUser> signInManager
<div class="text-center"  >
    <h1 class="display-4">Welcome</h1>    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @if (signInManager.IsSignedIn(User))
    {
        <div class="text-body">
            <a asp-page="/Articles/Create">新建文章</a>
        </div>
    }
    
    <div class="text-body">
        <a asp-page="/Articles/Index">所有文章</a>
    </div>
    <div class="text-body">
        <a asp-page="/Admin/UserController">生成邀请码</a>
    </div>
    <div class="text-body">
        <a asp-page="/Hubs/ChatHub">聊天室</a>
    </div>
</div>

